.ending{
	width:1000px;
	height:800px;
	background-image:url('../img/background.png');
	position:absolute;
	z-index:100001;
	top:0;
	display:none;
}
.content{
	width:800px;
	height:1600px;
	animation-duration:15s;
	animation-fill-mode:forwards;
	animation-timing-function:linear;
	display:none;
}
#session1{
	width:1000px;
	height:800px;
}
.startline{
	width:800px;
	height:40px;
	position:relative;
	top:180px;
	color:white;
	font-size:40px;
	text-align:center;
	line-height:40px;
}
.division{
	width:500px;
	height:5px;
	position:relative;
	top:200px;
	left:50%;
	transform:translate(-50%,0);
	background-color:white;
}
.ending_name{
	width:800px;
	height:30px;
	position:relative;
	top:220px;
	font-size:30px;
	text-align:center;
	line-height:30px;
	color:white;
}
#session2{
	width:800px;
	height:600px;
}
.ending_picture{
	width:500px;
	position:relative;
	left:50%;
	transform:translate(-50%,0);
	border:5px solid white;
}
.ending_introduce{
	width:600px;
	position:relative;
	top:50px;
	left:50%;
	transform:translate(-50%,0);
	color:white;
	font-size:20px;
}
#session3{
	width:1000px;
	height:800px;
}
.thanks{
	width:800px;
	height:40px;
	position:relative;
	top:180px;
	color:white;
	font-size:40px;
	text-align:center;
	line-height:40px;
}
#session3 button{
	width:200px;
	height:50px;
	color:white;
	border:1px solid white;
	border-radius:10px;
	background-color:transparent;
	backdrop-filter: blur(8px);
	font-size:20px;
	transition:500ms;
	position:relative;
	top:220px;
	left:50%;
	transform:translate(-50%,0);
}
#session3 button:hover{
	background-color:white;
	color:black;
}
@keyframes end_rolling{
	from{
		margin-top:0;
	}
	to{
		margin-top:-1100px;
	}
}