.text{
	width:1000px;
	height:150px;
	position:absolute;
	bottom:0;
	z-index:998;
	background-color:#80808088;
	display:none;
	background-image:url('../img/background.png');
}
.text .picture{
	position:absolute;
	width:150px;
	height:150px;
}
.text .container{
	width:500px;
	height:150px;
	position:absolute;
	left:200px;
	top:0;
}
.text .title{
	position:absolute;
	width:500px;
	height:40px;
	margin-top:10px;
	font-size:20px;
	color: white;
}
.text .texture{
	position:absolute;
	width:500px;
	height:100px;
	margin-top:10px; 
	top:40px;	
	color: white;
}
.interact_zone{
	width:1000px;
	height:150px;
	position:absolute;
	bottom:0;
	background-color:#80808088;
	display:none;
	background-image:url('../img/background.png');
}
.interact_zone input{
	width:200px;
	height:30px;
	background-color:white;
	margin-left:300px;
	margin-top:20px;
}
.interact_zone button{
	width:150px;
	height:40px;
	position:relative;
	border:1px solid white;
	border-radius:10px;
	margin-bottom:10px;
	line-height:40px;
	text-align: center;
	transition:500ms;
	background-color:rgba(255, 255, 255, 0.346);
	color:black;
	margin-left:330px;
	margin-top:20px;
}
.interact_zone button:hover{
	background-color:white;
}
.display{
	width:1000px;
	height:650px;
	position:absolute;
	top:0;
	z-index:1000;
	background-color:rgba(0,0,0,0.8);;
	display:none;
	text-align:center;
}
.select_zone{
	width:800px;
	height:150px;
	position:absolute;
	bottom:0;
	z-index:100;
	background-color:#80808088;
	display:none;
	background-image:url('../img/background.png');
}
.select_zone .selection{
	position:absolute;
	bottom:30px;
	left:100px;
	width:800px;
}
.select_zone button{
	width:150px;
	height:40px;
	position:relative;
	border:1px solid white;
	border-radius:10px;
	line-height:40px;
	text-align: center;
	transition:500ms;
	background-color:transparent;
	color:black;
	margin-left:100px;
}
.select_zone button:hover{
	background-color:white;
	color:black;
	transition:500ms;
}
.select_zone .item{
	width:1000px;
	text-align:center;
	position:absolute;
	top:30px;
}
.dialog_zone{
	width:1000px;
	height:650px;
	position:absolute;
	top:0;
	z-index:100;
	background-color:rgba(0,0,0,0.8);
	display:none;
}
.dialog_zone button{
	height:50px;
	width:550px;
	margin-left:225px;
	border:1px solid white;
	border-radius:25px;
	background-color:rgba(0,0,0,0);
	padding:0;
	transition:500ms;
	color:white;
}
.dialog_zone button:hover{
	border-color:white;
	background-color:white;
	color:black;
	transition:500ms;
}
.hint{
	width:200px;
	height:50px;
	background-color:#000000AA;
	text-align:center;
	line-height:50px;
	border-radius:10px;
	left:50%;
	transform:translate(-50%,0);
	margin-top:-30px;
	color:white;
	display:none;
	z-index:120001;
	position:absolute;
}
.sudoku{
	width:1000px;
	height:800px;
	background-color:transparent;
	backdrop-filter: blur(8px);
	display:none;
}
.sudoku button{
	width:100px;
	height:40px;
	color:white;
	background-color:transparent;
	border:1px solid white;
	border-radius:5px;
	margin-left:350px;
	margin-top:-15px;
	transition:500ms;
}
.sudoku button:hover{
	background-color:white;
	color:black;
	transition:500ms;
}
.lightbox{
	width:1000px;
	height:800px;
	background-color:transparent;
	backdrop-filter: blur(8px);
	display:none;
}
.lightbox button{
	width:100px;
	height:40px;
	color:white;
	background-color:transparent;
	border:1px solid white;
	border-radius:5px;
	margin-left:350px;
	margin-top:-15px;
	transition:500ms;
}
.lightbox button:hover{
	background-color:white;
	color:black;
	transition:500ms;
}