*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:楷体;
}		 
.content {
    background-image: url(nav_bg.png);
    position: relative;
    width: 100%;
    height: 90px;
    margin: 0px auto;
    text-align: center;
    z-index: 402;
}
#content .supernav_container {
    position: absolute;
    left: 200px
}
#achievementbutton{
    background-color:#5c3a18;
    
    color:white;
    width:150px;
    height:48px;
    margin-top: 25px;
    margin-left:0px;
    border: none;
    font-size:25px;
    font-weight:300;
    background-image: url(nav_button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#achievementbutton:hover{
  filter: brightness(1.25) contrast(1.1) drop-shadow(0 0 8px rgba(255, 215, 126, 0.7));
  color: #FFD57E; /* 文字变金色 */
  transform: scale(1.05); /* 轻微放大 */
  cursor: pointer;
}
#aboutbutton{
    background-image: url(nav_button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #5c3a18;
    color:white;
    width:150px;
    height:48px;
    border-radius:8px;
    margin-top: 25px;
    margin-left:120px;
    border: none;
    font-size:25px;
    font-weight:300;
}
#aboutbutton:hover{
  filter: brightness(1.25) contrast(1.1) drop-shadow(0 0 8px rgba(255, 215, 126, 0.7));
  color: #FFD57E; /* 文字变金色 */
  transform: scale(1.05); /* 轻微放大 */
  cursor: pointer;
}
#backbutton{
    background-color: #5c3a18;
    background-image: url(nav_button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
    width:150px;
    height:48px;
    border-radius:8px;
    margin-top: 25px;
    margin-left:120px;
    border: none;
    font-size:25px;
    font-weight:300;
}
#backbutton:hover{
  filter: brightness(1.25) contrast(1.1) drop-shadow(0 0 8px rgba(255, 215, 126, 0.7));
  color: #FFD57E; /* 文字变金色 */
  transform: scale(1.05); /* 轻微放大 */
  cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #8F98A0;
    background:url(../login/background.jpg)no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}

h1 {
    color: #333;
    margin-top: 0px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
}

.save-slot {
    padding: 20px;
        height:200px;
        width:300px;
        border:1px solid #032442;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f977;
    transition: box-shadow 0.3s, transform 0.3s;
    background-image: url(save_slot.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.save-slot:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.save-slot h2 {
    color:#ffffff;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
}

.save-slot p {
    font-size: 30px;
    margin-bottom: 0;
    color: #ff0000c4;
    text-shadow: 1px 1px 3px #00000080;
}

.save-slot button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #E6B800;
  border: 2px solid #8B5A2B;
  border-radius: 8px;
  font-family: "KaiTi", "STKaiti", serif;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 5px #00000066;
  transition: all 0.2s ease-in-out;
}
.panel {
    position: absolute;
    left: 50%;
    top:0px;
    margin-top:-150px;
    transform: translate(-50%,0);
    background-color:#171d25;
    display: flex;
    justify-content: center;
    width: 300px;
    height:100px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
    z-index:100000;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
}
#login1{
    text-align: center;
    color:white;
    line-height:100px;
    font-size:20px;
}
@keyframes slide{
    from{
        margin-top:-150px;
    }
    to{
        margin-top:0;
    }
}
@keyframes slide_back{
    from{
        margin-top:0;
    }
    to{
        margin-top:-150px;
    }
}